# __BEGIN_LICENSE__
# Copyright (C) 2008-2010 United States Government as represented by
# the Administrator of the National Aeronautics and Space Administration.
# All Rights Reserved.
# __END_LICENSE__

# This is a pip requirements file
# http://pip.openplans.org/requirement-format.html

Django
#iso8601
#PIL
#pytz

rdflib==2.4.2

# for testing only
#mocker
#decorator
