.btn  {
	button {
		background: $secondary;
		font-weight: 400;
		color: $light-fg;
		
	}
	.active {
		background-color: $secondary;
		color: $light-fg;
	}
	
	:link:hover :enabled {
		color: $light-fg !important;
	}
	:active:enabled {
		background-color: $tertiary;
	}
	:hover:enabled {
		color: $tertiary;
		text-decoration: bold;
	}
	.active :hover{
		background: $secondary;
		color: $light-fg;
	}
}
.btn.disabled, [disabled]{
		background-color: $disabled-bg;
		color: $disabled-fg;
		border-color: $button-border;
	}

.btn.disabled:hover, [disabled]:hover{
		background-color: $disabled-bg;
		color: $disabled-fg;
		border-color: $button-border;
	}

.mybutton {
	@extend .btn;
	@extend .medium;
	@extend .primary;
	@extend .metro;
	@extend .rounded;
	color: $light-fg;
	font-weight: normal;
	min-width: 85px;
    text-align: center;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.mybutton:link:hover {
	color: $light-fg !important;
}

.mybutton a:hover {
	color: $light-fg !important;
}

.btn.small, .mybutton.small { font-size: 10px; font-size: 0.8rem; height: 23px; line-height: 21px; font-weight: 700;}


input[type="submit"], input[type="button"], button, .button, a.actionlink {
	@extend .mybutton;
	text-decoration: none;
	font-weight:normal;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}


.pill {
	display:inline;
	button {
		@include shape(squared);
		@extend .btn;
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-left: -5px !important;
		margin-right: 0px !important;
		background: $color;
		color: $primary;
		border-color: $button-border;
	}
	.active {
		background-color: $secondary;
		color: $light-fg;
	}
	.disabled, [disabled] {
		background-color: $disabled-bg;
		color: $disabled-fg;
	}
	:active:enabled {
		background-color: $tertiary;
	}
	:hover:enabled {
		color: $tertiary;
		text-decoration: bold;
	}
	.active :hover{
		background: $secondary;
		color: $light-fg;
	}
	.small {
		min-width: 50px;
		font-size: 0.8rem;
		font-weight: 700;
	}
	
	.pill-left {
		@include shape(pill-left);
	}
	.pill-right  {
		@include shape(pill-right);
	}
}