@import 'theme';
@import 'table';
@import 'button';
@import 'dashboard';
@import 'nav';
@import 'footer';
@import 'form';

$logo-height: 65px;

body{
	background: $color;
}

.primary{
	background-color: $primary;
}

$irg_logo_img: image-url('/static/gumby/img/irg.png', false, true);
.irg_logo {
	background: $irg_logo_img $color no-repeat;
	width:65px;
    height:$logo-height;
}

$nasa_logo_img: image-url('/static/gumby/img/meatball.png', false, true);
.nasa_logo {
	background: $nasa_logo_img $footer-bg no-repeat; 
	height:$logo-height;
	width:75px;
}

.logo {
	background: $navbar-color;
	padding-right: 0px;
	img {
		display:inline;
	}
}

.xgds_and_brand {
  margin-top: 6px;
}

.xgds h1 a {
	color: $light-fg; 
    font-weight: bold;
}

.brand {
	font-size: 130%;
	font-weight: bold;
}

h1 {
	font-size: 1.3rem;
	font-weight: 700;
	color: $primary;
}

h2 {
	font-size: 1.2rem;
	font-weight: 700;
	color: $primary;
}

h3 {
	font-size: 1.1rem;
	font-weight: 700;
	color: $primary;
}

.right-align {	
	text-align:right;
}

#buttonrow .right {
    position:absolute;
	right:40px;
}

form label {
	font-size: .9rem;
	display: inline-block; 
	padding-right: 5px; 
	line-height: 1.25em;
}

fluid {
	*zoom: 1;
}

.label {
	color:inherit;
}

* {
	margin: 0;
}
html, body {
	margin:0;
   	padding:0;
	height: 100%;
}

#page-content {
	margin-top: 5px;
	margin-bototm: 0px;
	padding-bottom:$footer-height; 
}

.errors {
	margin-top: 10px;	
}

.help_button {
	float:right;
	margin-right: 5px;
	font-size: 1.5em;
}