{% extends 'base.html' %}
{% load pipeline %}

{% block cssExtras %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.min.css" ></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamUtil/css/dashboard.css"></link>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamUtil/css/datatable.css"></link>
{% endblock cssExtras %}

{% block jsInit %}
	
	$(function(){
        {% block prePackery %}
		{% endblock prePackery %}
		
    	initializePackery();
    	
    	{% block otherJSInit %}
		{% endblock otherJSInit %}
	});
	
{% endblock %}


{% block scripts %}
{{block.super}}
	{% include "xgds_core/timeJS.html" %}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js'></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
 	<script type="text/javascript" src='{{ EXTERNAL_URL }}lodash/lodash.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}handlebars/handlebars.min.js'></script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}geocamUtil/js/datatable_helpers.js"></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}packery/dist/packery.pkgd.min.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}geocamUtil/js/packem.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}geocamUtil/js/packery_table.js"></script>
    
{% endblock scripts %}


{% block content %}
	{% block packery %}
	<div id="container"> 
		
		{% block firstPackery %}
		{% endblock firstPackery %}
		
		
		{% block lastPackery %}
		{% endblock lastPackery %}
		
	</div> <!--  js packery container -->
	{% endblock packery %}
{% endblock content %}